/* My awesome CSS File*/

body {
  background-color: rgb(10, 100, 37);
  color: white;
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  flex-direction: column;
  flex: 1;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

header {
  color: rgb(10, 100, 37);
  text-align: center;
  top: 0;
}

header, footer {
  background-color: white;
}

ul.page-nav {
  align-items: center;
  background-color: #f1ecec;
  display: flex;
  height: 40px;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0 !important;
}

.page-link {
  border: 1px solid gray;
  border-radius: 10px;
  color: rgb(10, 100, 37);
  font-weight: 500;
  padding: 0 8px;
  text-decoration: none;
}

.page-link:hover {
  color: white;
  background-color: rgb(157, 60, 184);
}

.page-link:active {
  color: white;
  background-color: rgb(169, 112, 184);
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

article {
  padding: 36px;
  text-align: justify;
}

dd {
  padding-bottom: 8px;
}

p, dl {
  text-indent: 30px;
}

.hobbies-list li {
  list-style-type: square;
}

.hobbies-list li:nth-child(odd) {
  background-color: rgb(18, 169, 63);
}

.img-container {
  text-align: center;
}

/*add a box-shadow with 0 horizontal and vertical placement, 2px of the blur, 1px of the spread and black colour*/
#my-image {
  box-shadow: 0px 0px 2px 1px black;
  width: 300px;
}

.link {
  color: white;
}

blockquote {
  font-style: italic;
}

footer {
  align-items: center;
  bottom: 0;
  color: black;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
}

footer .copyright {
  font-size: 12px;
  margin: 0;
}
