html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  flex-direction: column;
}

body {
  background-color: rgb(10, 100, 37);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: rgb(10, 100, 37);
  padding: 16px;
  text-align: center;
}

nav {
  background-color: white;
  padding: 0 8px;
}

.page-link{
  color: rgb(10, 100, 37);
  font-weight: 500;
}

.page-link:hover {
  color: white;
  background-color: rgb(157, 60, 184);
}

.flex-container {
  display: flex;
}

article {
  padding: 18px 36px;
  text-align: justify;
}

dd {
  padding-bottom: 8px;
}

p, dl {
  text-indent: 30px;
}

.hobbies-list li {
  list-style-type: square;
}

.img-container {
  text-align: center;
}

.img-photo {
  box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
  width: 300px;
}

.link {
  color: white;
}

blockquote {
  font-style: italic;
}

footer {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
}

footer .copyright {
  font-size: 12px;
  margin: 0;
}
