html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
}

body {
  background-color: rgb(10, 100, 37);
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color:rgb(10, 100, 37);
  padding: 30px;
  text-align: center;
}

section {
  text-align: justify;
  padding: 18px 4%;
}

section p {
  text-indent: 30px;
}

.link {
  color: white;
}

blockquote {
  font-style: italic;
}

footer {
  background-color: white;
  bottom: 0;
  color:black;
  position: absolute;
  width: 100%;
}

footer .copyright {
  text-align: center;
  font-size: 12px;
}